*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
.cabecalho {
  background-color: #FF5EA2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.cabecalho-imagem{
  width: 10%;
}

.cabecalho-lista-item{
  display: inline-block;
  margin: 0 16px;
  font-size: 16px;
}

.twice-imagem{
  width: 25%;
}

.TWICE{
  background-image: linear-gradient(#FFD9B6,#FDB8AC,#FD97A4,#FE7BA3,#FF5EA2);
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.twice-div-conteudo{
  width: 35%;
}


.twice-titulo{
  padding: 24px 0;
}

.integrantes{
  padding: 24px 0;
}
.integrantes-imagem{
  width: 120px;
}

.integrantes-icone{
  width: 24px;
  padding: 4px 8px;
}

.integrantes-div{
  text-align: center;
  padding: 16px 0;
      display: grid;
  grid-gap: 1px;
  grid-template-columns: 150px 150px 150px;

}

.integrantes-titulo{
  text-align: center;
padding: 30px 0;
  
}


.integrantes-todos{

  
}

.rodape{
  background-color:#FF5EA2 ;
    text-align: center;
}
.rodape-imagem{
  height: 100px;
  padding: 1px 0;

}
